In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,New Norfolk,AU,2022-05-01 17:01:34,-42.7826,147.0587,60.93,78,97,1.01
1,1,Pevek,RU,2022-05-01 17:01:34,69.7008,170.3133,-3.33,92,49,5.53
2,2,Kodiak,US,2022-05-01 17:01:35,57.7900,-152.4072,40.51,81,100,17.27
3,3,Punta Arenas,CL,2022-05-01 17:01:35,-53.1500,-70.9167,48.11,87,85,6.11
4,4,Rio Verde De Mato Grosso,BR,2022-05-01 17:01:35,-18.9181,-54.8442,92.44,26,0,8.12

In [3]:
# check data types for columns, google requires integers or floating point decimals

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Config gmaps to use our API key
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Create percent humidity heatmap

In [7]:
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df['Humidity']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call fig to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Create percent cloudiness heatmap
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df['Cloudiness']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call fig to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Create Wind Speed Heat Map

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df['Wind Speed']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call fig to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and max temp value

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# filter dataset to find cities that meet criteria

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Manokwari,ID,2022-05-01 17:01:36,-0.8667,134.0833,78.06,83,97,4.54
6,6,San Cristobal,VE,2022-05-01 17:01:36,7.7669,-72.2250,83.25,51,98,8.41
14,14,Bom Jardim,BR,2022-05-01 17:01:40,-7.7958,-35.5872,83.08,58,92,12.82
22,22,Arraial Do Cabo,BR,2022-05-01 17:01:44,-22.9661,-42.0278,84.06,65,0,16.11
24,24,Porbandar,IN,2022-05-01 17:01:45,21.6422,69.6093,84.56,81,0,12.03
26,26,Rikitea,PF,2022-05-01 17:01:46,-23.1203,-134.9692,76.41,72,34,5.97
32,32,Pangkalanbuun,ID,2022-05-01 17:01:48,-2.6833,111.6167,76.77,94,89,2.82
34,34,Ambulu,ID,2022-05-01 17:01:49,-8.3450,113.6058,76.66,90,96,3.40
38,38,Puri,IN,2022-05-01 17:01:50,19.8000,85.8500,81.88,88,35,18.45
43,43,Japura,ID,2022-05-01 17:01:23,-0.3167,102.3500,75.29,99,99,2.86

In [12]:
preferred_cities_df.count()

City_ID       159
City          159
Country       159
Date          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
dtype: int64

In [17]:
# Get Travel Destinations 

# create df called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df['Hotel Name'] = ' '
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
5         Manokwari      ID     78.06  -0.8667  134.0833
6     San Cristobal      VE     83.25   7.7669  -72.2250
14       Bom Jardim      BR     83.08  -7.7958  -35.5872
22  Arraial Do Cabo      BR     84.06 -22.9661  -42.0278
24        Porbandar      IN     84.56  21.6422   69.6093
26          Rikitea      PF     76.41 -23.1203 -134.9692
32    Pangkalanbuun      ID     76.77  -2.6833  111.6167
34           Ambulu      ID     76.66  -8.3450  113.6058
38             Puri      IN     81.88  19.8000   85.8500
43           Japura      ID     75.29  -0.3167  102.3500

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key }

In [ ]:
# Loop thru all the cities

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # add the lat and lng to location key for the params dict
    params['location'] = f"{lat}, {lng}"
    
    # use search term "lodging" and our lat and lng
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # make request and get Json data
    
    hotels = requests.get(base_url, params=params).json()
    
    # grab the first hotel from results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print('Hotel not found ... skipping.')

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Manokwari,ID,78.06,-0.8667,134.0833,Swiss Belhotel Manokwari
6,San Cristobal,VE,83.25,7.7669,-72.2250,Pirineos
14,Bom Jardim,BR,83.08,-7.7958,-35.5872,Wilton Joaquim 8 Wilton
22,Arraial Do Cabo,BR,84.06,-22.9661,-42.0278,Pousada Porto Praia
24,Porbandar,IN,84.56,21.6422,69.6093,Lords Inn Porbandar
26,Rikitea,PF,76.41,-23.1203,-134.9692,People ThankYou
32,Pangkalanbuun,ID,76.77,-2.6833,111.6167,Grand Kecubung Hotel
34,Ambulu,ID,76.66,-8.3450,113.6058,Hotel Ambulu Jember
38,Puri,IN,81.88,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
43,Japura,ID,75.29,-0.3167,102.3500,Rumah mbah Jamah

In [35]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))